<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Enter UserName: </label>
        <input id="name" type="text" name="name" placeholder="Enter User name" required>
        <br>
        
        <label for="email">Enter Email:</label>
        <input type="email" name="email" id="email" placeholder="Enter Email" required>
        <br>

        
        <label for="address">Enter address: </label>
        <input type="text" name="address" id="address" required>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>