<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>

    <table>
        <tr>
            <td><h4>Name: </h4></td>
            <td><h4>Email: </h4></td>
            <td><h4>Address: </h4></td>
        </tr>
        {% for user in users %}
        <tr>
            <td><p>{{ user.name }}</p></td>
            <td><p>{{ user.email }}</p></td>
            <td><p>{{ user.address }}</p></td>
            <td><a href="{% url 'delete' pk=user.id %}">Delete</a></td>
            <td><a href="{% url 'update' pk=user.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    

    

    <h2><a href="logout">Logout</a></h2>
</body>
</html>